<div class="review-date--container">
  {% if changed %}
  <div class="review-date--updated">
    {{ 'Last updated'|t }}
    {{ changed }}
  </div>
  {% endif %}
  {% if reviewed %}
  <div class="review-date--reviewed">
    {{ 'Last reviewed'|t }}
    {{ reviewed }}
  </div>
  {% endif %}
</div>
